{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load url from future %}

{% block payment_details %}
    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    {% block payment_details_content %}
    <form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="POST">
        {% csrf_token %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_rIwj6vwG0FGIaw4Mw30JA3pC"
            data-amount="2000"
            data-name="Demo Site"
            data-description="2 widgets ($20.00)"
            data-image="/128x128.png">
        </script>
        <!-- {{ stripe_form.as_p }} -->
    </form>
    {% endblock %}
{% endblock payment_details %}
